<!-- <app-header></app-header> -->

<section id="main" class="clearfix" jstcache="0">
    <div class="wrap row" jstcache="0">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="GeekMeet" rel="home" class="trail-begin">Home</a></span> <span class="sep">»</span> <span>Event Add</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Event Add</h3>
            </div>
            <ng2-toasty [position]="'top-center'" ></ng2-toasty>

            <form name="event-add" id="event-add" #addEventForm="ngForm" (ngSubmit)="submitEvent(addEventForm.value)">    
                <div class="event-edit-form large-6 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Event Title<span class="indicates">*</span></label>
                        <input type="text" [(ngModel)]="event_title" id="event-title" name="event_title" value="" class="form-control textfield" > 
                        <span class="errfield">{{title}}</span>  
                    </div>
                    <!--<div class="form_row clearfix">
                        <label>Event Description<span class="indicates">*</span></label>
                        <textarea [(ngModel)]="event_description" name="event_description" id="event-description" value="" rows="5" cols="6" class="textfield" style="height: 194px;" > </textarea>
                        <span class="errfield">{{description}}</span> 
                    </div>-->
                    <div class="form_row clearfix">
                        <label>Start Date<span class="indicates">*</span></label>                                         
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,'start')" [selDate]="startDateNormal"></my-date-picker>
                        <input type="hidden" name="start_date" [(ngModel)]="startDateNormal" >
                        <span class="errfield">{{startDate}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Start Time<span class="indicates">*</span></label>
                        <input type="text" id="eventstart-time" class="form-control"> 
                        <input type="hidden" id="start-Time" name="start-Time">                      
                        <span class="errfield">{{startTime}}</span>                        
                    </div>
                    <div class="form_row clearfix">
                        <label>End Date<span class="indicates">*</span></label>                       
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,'end')" [selDate]="endDateNormal"></my-date-picker>
                        <input type="hidden" name="end_date" [(ngModel)]="endDateNormal"> 
                        <span class="errfield">{{endDate}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>End Time<span class="indicates">*</span></label>                        
                        <input type="text" id="eventend-time" class="form-control"> 
                        <input type="hidden" id="end-Time" name="end-Time">       
                        <span class="errfield">{{end_timeErr}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Website<span class="indicates">*</span></label>
                        <input type="url" [(ngModel)]="website" name="website" id="website" value="" class="form-control textfield" > 
                        <span class="errfield">{{websiteErr}}</span> 
                    </div>              

                </div>

                <div class="event-edit-form large-6 small-12 columns">                     
                   <!-- <div class="form_row clearfix">
                        <label>Country<span class="indicates">*</span></label>                        
                      
                         <ng-select name="countryList" (data)="countryArr"                                                      
                            [items]="countryArr"
                            (selected)="getState($event)"
                            placeholder="No country selected">
                        </ng-select>
                        <input type="hidden" id="country" name="country" [(ngModel)]="country">    
                        <span class="errfield">{{countryErr}}</span>
                    </div>
                    <div class="form_row clearfix">
                        <label>State<span class="indicates">*</span></label>                        
                       
                        <ng-select name="stateList" (data)="stateList"                                                      
                            [items]="stateList"
                            (selected)="getCIty($event)"
                            placeholder="No state selected">
                        </ng-select>
                        <input type="hidden" id="state" name="state" [(ngModel)]="state"> 
                        <span class="errfield">{{stateErr}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>City<span class="indicates">*</span></label>                        
                       
                        <ng-select name="cityList" (data)="cityList"                                                      
                            [items]="cityList"
                            (selected)="optionSelected($event,'city')"
                            placeholder="No city selected">
                        </ng-select>
                        <input type="hidden" id="city" name="city" [(ngModel)]="city"> 
                        <span class="errfield">{{cityErr}}</span>
                    </div> -->
                    <div class="form_row clearfix" style="width: 385px">
                        <label>Organization<span class="indicates">*</span></label>
                        
                         <ng-select name="organizationList" (data)="organizationList"                                                       
                            [items]="organizationList"
                            (selected)="optionSelected($event,'organization')"
                            placeholder="No organization selected">
                        </ng-select>
                        <input type="hidden" id="organization" name="organizers" [(ngModel)]="organizers">  
                        <span class="errfield">{{organizationErr}}</span>                   
                    </div>
                    <div class="form_row clearfix">
                        <label>Location<span class="indicates">*</span></label>
                        
                        <div style="width: 350px; float: left;">
                            <ng-select name="locationList" (data)="venueList"                                                       
                                [items]="venueList"
                                (selected)="optionSelected($event,'location')"
                                placeholder="No location selected">
                            </ng-select>
                            <input type="hidden" id="location" name="location" [(ngModel)]="location">       
                            <span class="errfield">{{locationErr}}</span>  
                        </div>   
                        <!--<a (click)="modal.open();" class="btn btn-success  btn-sm btn-square active pull-right add_button" style="line-height: 1.6;">
                            <span area-hidden="true" class="glyphicon glyphicon-plus"></span>
                         </a>--> 
                         <app-venueadd></app-venueadd>          
                    </div>
                   
                    <div class="form_row clearfix" style="width: 385px">
                        <label>Intended Audience:</label>
                        <div class="">                                            
                            <ng-select (data)="optionSelected($event,'audience')"
                            [multiple]="true"                            
                            [items]="audienceList">                            
                            </ng-select>
                           <input type="hidden" id="audience" name="audience" [(ngModel)]="audience">
                        </div>
                    </div>    
                    <div class="form_row clearfix">
                        <label>Contact Info<span class="indicates">*</span></label>
                        <input type="tel" [(ngModel)]="contact_info" id="contactinfo"  name="contact_info" value="" class="form-control textfield">
                        <span class="errfield">{{contact}}</span>                          
                    </div>
                    <div class="form_row clearfix">
                        <label>Event Purpose</label>
                        <input type="text" [(ngModel)]="purpose" id="purpose" name="purpose" value="" class="form-control textfield">
                    </div>
                    <div class="form_row clearfix" style="width: 385px">
                        <label>Event Keywords</label>
                        <div class="">
                                         
                            <ng-select (data)="optionSelected($event,'keyword')"
                            [multiple]="true"                            
                            [items]="keywordList">                            
                            </ng-select>
                           <input type="hidden" id="keyword" name="keyword" [(ngModel)]="keyword">
                        </div>
                    </div>                  
                </div>
                <div class="col-sm-12">
                     <div class="form_row clearfix">
                        <label>Event Description<span class="indicates">*</span></label>
                        <ckeditor name="event_description" [(ngModel)]="event_description" debounce="400"></ckeditor>
                        <span class="errfield">{{description}}</span> 
                    </div>

                    <div class="form_row clearfix">
                        <label>Upload Images</label>                        
                        <input id="eventImages" (ngModelChange)="uploadImages($event)" name="images" [(ngModel)]="eventImages" type="file" multiple>
                         <input type="hidden" id="attach_ids" name="image_id"> 
                         <input type="hidden" id="pre_ids"> 
                    </div>
                    <div class="form_row ">                         
                        <button class="btn btn-info" type="submit" value="Save" name="submit">Save</button>                          
                        <button class="btn btn-info" type="reset" value="Cancel" name="reset">Cancel</button>
                    </div>                    
                </div>
            </form>

            <!--<modal #modal> 
            <modal-header><h4 class="modal-title">Add Location</h4></modal-header>             
                    <form name="location-add" id="location-add" #addLocationForm="ngForm" (ngSubmit)="submitLocation(addLocationForm.value);addLocationForm.reset();removeLocationData();">  
                      
                       <div class="form-group col-md-12">
                            <div class="col-md-3 col-md-offset-1">
                                <label class="control-label">Name *</label>
                            </div>
                            <div class="col-md-7" style="width: 348px">
                                <input type="text" [(ngModel)]="venue_name" name="venue_name" class="form-control" id='venue_name'>
                                 <span class="errfield">{{venueErrors.venue_name}}</span>                              
                            </div>
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-3 col-md-offset-1">
                                <label for="message-text" class="control-label">Description</label>
                            </div>
                            <div class="col-md-7">
                                <textarea class="form-control" [(ngModel)]="venue_description" name="venue_description" id='venue_description'></textarea>      
                            </div>
                        </div>                    

                      <div id="images_div">
                            <div class="form-group col-md-12">
                                <div class="col-md-3 col-md-offset-1">
                                    <label for="message-text" class="control-label">Image</label>
                                </div>
                                <div class="col-md-5">
                                    
                                    <input type="file" class="form-control" multiple (change)="fileChange(input)" #input />                             
                                </div>
                                 
                               

                            </div>

                            <div class="form-group col-md-8" style="float: right;">
                                <div class="preview_images" *ngFor="let file_src of file_srcs; let i = index">  
                                  <img [attr.src]='file_src' alt=""/>                                 
                                </div>
                            </div>
                       </div>                    

                    <div class="form-group col-md-12">
                        <div class="col-md-3 col-md-offset-1">
                            <label class="control-label">Country *</label>
                        </div>
                        <div class="col-md-7">
                            <ng-select id="countryList" name="countryList" (data)="countryArr"                                                      
                            [items]="countryArr"
                            (selected)="getState($event)"
                            placeholder="No country selected">
                            </ng-select>
                            <input type="hidden" id="country" name="country" [(ngModel)]="country">    
                            <span class="errfield">{{venueErrors.country}}</span> 
                        </div>
                    </div>
                    
                     <div class="form-group col-md-12">
                            <div class="col-md-3 col-md-offset-1">
                                <label class="control-label">State *</label>
                            </div>
                            <div class="col-md-7">
                                <ng-select id="stateList" name="stateList" (data)="stateList"                                                      
                                [items]="stateList"
                                (selected)="getCIty($event)"
                                placeholder="No state selected">
                               </ng-select>
                               <input type="hidden" id="state" name="state" [(ngModel)]="state"> 
                               <span class="errfield">{{venueErrors.state}}</span> 
                            </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-3 col-md-offset-1">
                            <label for="message-text" class="control-label">City *</label>
                        </div>
                        <div class="col-md-7">
                           <ng-select id="cityList" name="cityList" (data)="cityList"                                                      
                            [items]="cityList"
                            (selected)="optionSelected($event,'city')"
                            placeholder="No city selected">
                           </ng-select>
                           <input type="hidden" id="city" name="city" [(ngModel)]="city"> 
                           <span class="errfield">{{venueErrors.city}}</span>
                        </div>
                    </div>
                    
                       <div class="form_row clearfix">
                            <div class="col-md-3 col-md-offset-1">
                                <label for="message-text" class="control-label">Address *</label>
                            </div>
                            <div class="col-md-6">
                                <textarea class="form-control" [(ngModel)]="address" name="address" id='address'>address</textarea>
                                <span class="errfield">{{venueErrors.address}}</span>
                            </div>
                            <button class="btn btn-success  btn-xs btn-square active add_map" (click)="getLatLong(addLocationForm.value);" type="button">
                                <span aria-hidden="true" class="fa fa-location-arrow"></span>
                            </button>
                        </div>
                        
                        <div class="form-group col-md-12">
                            <div class="col-md-3 col-md-offset-1">
                                <label class="control-label">Latitude *</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="venueArr.latitude" name="latitude" class="form-control" id='latitude'>
                                <span class="errfield">{{venueErrors.latitude}}</span>
                            </div>
                        </div>
                     
                         <div class="form-group col-md-12">
                            <div class="col-md-3 col-md-offset-1">
                                <label class="control-label">Longitude*</label>
                            </div>
                            <div class="col-md-7">
                                <input type="text" [(ngModel)]="venueArr.longitude" name="longitude" class="form-control" id='longitude'>
                                <span class="errfield">{{venueErrors.longitude}}</span>
                            </div>
                        </div>      
                               
                        <span style="color: red;font-size: 13px;">{{locationFinder}}</span>
                        <div class="form-group col-md-12 map_div" style="display:none">
                            <div class="col-md-3 col-md-offset-1">
                                <label for="message-text" class="control-label">Map</label>
                            </div>
                            <div class="col-md-7">                           
                            <sebm-google-map [latitude]="venueArr.latitude" [longitude]="venueArr.longitude" #myMap>
                                <sebm-google-map-marker [latitude]="venueArr.latitude" [longitude]="venueArr.longitude"></sebm-google-map-marker>
                            </sebm-google-map>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="venue_cancel" data-dismiss="modal" (click)="addLocationForm.reset();removeLocationData();modal.dismiss();">Cancel</button>
                           
                            <button class="btn btn-info" type="submit" value="Save" id="venue_submit" name="venue_submit">Save</button>  
                        </div>
                  
                    </form>                       
                    
                </modal>-->

                <!-- <div class="form-group col-md-12"  id="add_more_div" hidden="">
                   <div class="col-md-2 col-md-offset-1">
                        <label for="message-text" class="control-label"></label>
                    </div>
                    <div class="col-md-6 col-md-offset-1">                        
                        <input type="file" name="venue_image[]" image-upload (imageSelected)="selected($event)" class="form-control">                                    
                    </div>
                    <div class="col-md-2 col-sm-1 col-xs-2">
                        <button class="btn btn-danger btn-xs btn-square" id="remove_image" type="button"><span aria-hidden="true" class="fa fa-minus"></span>
                        </button></div>
                </div>-->

        </div>
        <!-- #content --> 

        <!--single post type sidebar -->
        <div id="sidebar-primary" class="sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">     
                    <div class="textwidget text-center">    
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>    
                    </div>
                </div>
            </div>
            
            <!-- 300x150 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">     
                    <div class="textwidget text-center">    
                        <a href="">
                            <img src="app/assets/images/ads images/300x150.jpg">
                        </a>    
                    </div>
                </div>
            </div>
        </div>
        <!--end single post type sidebar --> 
        <!-- end  content part-->
    </div>
    <!-- .wrap -->
</section>

<!-- <app-footer></app-footer> -->

