<!-- <app-header></app-header> -->

<section id="main" class="clearfix" jstcache="0">
    <div class="wrap row" jstcache="0">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="GeekMeet" rel="home" class="trail-begin">Home</a></span> <span class="sep">»</span> <span>Event Add</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Event Add</h3>
            </div>
          

            <form name="event-add" id="event-add" #addEventForm="ngForm" (ngSubmit)="submitEvent(addEventForm.value)">    
                <div class="event-edit-form large-6 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Event Title<span class="indicates">*</span></label>
                        <input type="text" [(ngModel)]="title" id="event-title" name="event-title" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Event Description<span class="indicates">*</span></label>
                        <textarea [(ngModel)]="description" name="event-description" id="event-description" value="" rows="5" cols="6" class="textfield" style="height: 194px;"> </textarea>
                    </div>
                    <div class="form_row clearfix">
                        <label>Start Date<span class="indicates">*</span></label>                                         
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,'start')" [selDate]="startDateNormal"></my-date-picker>
                        <input type="hidden" name="start-date" [(ngModel)]="startDateNormal">
                    </div>
                    <div class="form_row clearfix">
                        <label>Start Time<span class="indicates">*</span></label>
                        <input type="text" [(ngModel)]="eventStartTime" name="eventstart-time" id="eventstart-time" class="form-control"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>End Date<span class="indicates">*</span></label>                       
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,'end')" [selDate]="endDateNormal"></my-date-picker>
                        <input type="hidden" name="end-date" [(ngModel)]="endDateNormal"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>End Time<span class="indicates">*</span></label>
                        <input type="text" [(ngModel)]="eventEndTime" name="eventend-time" id="eventend-time" class="form-control"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Website<span class="indicates">*</span></label>
                        <input type="url" [(ngModel)]="website" name="website" id="website" value="" class="form-control textfield"> 
                    </div>

                </div>

                <div class="event-edit-form large-6 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Country<span class="indicates">*</span></label>                        
                        <!--<select class="form-control" name="country" [(ngModel)]="country" >
                            <option *ngFor="let country of countryList" value="{{country.id}}" (click)="getState(country.id)" >{{country.name}}</option>
                        </select> -->    

                         <ng-select name="countryList" (data)="countryArr"                                                      
                            [items]="countryArr"
                            (selected)="getState($event)"
                            placeholder="No country selected">
                            </ng-select>
                        <input type="hidden" name="country" [(ngModel)]="country">    

                    </div>
                    <div class="form_row clearfix">
                        <label>State<span class="indicates">*</span></label>                        
                        <!--<select class="form-control" name="state" [(ngModel)]="state" >
                            <option *ngFor="let state of stateList" value="{{state.state_id}}" (click)="getCIty(state.state_id)" >{{state.name}}</option>
                        </select>-->

                        <ng-select name="stateList" (data)="stateList"                                                      
                            [items]="stateList"
                            (selected)="getCIty($event)"
                            placeholder="No state selected">
                        </ng-select>
                        <input type="hidden" name="state" [(ngModel)]="state"> 

                    </div>
                    <div class="form_row clearfix">
                        <label>City<span class="indicates">*</span></label>                        
                        <!--<select class="form-control" name="city" [(ngModel)]="city" >
                            <option *ngFor="let city of cityList" value="{{city.city_id}}">{{city.name}}</option>
                        </select>-->
                        <ng-select name="cityList" (data)="cityList"                                                      
                            [items]="cityList"
                            (selected)="city"
                            placeholder="No city selected">
                        </ng-select>
                        <input type="hidden" name="city" [(ngModel)]="city"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Organization<span class="indicates">*</span></label>
                        <!--<select class="form-control" name="organization" [(ngModel)]="organization" >
                            <option *ngFor="let organization of organizationList" value="{{organization.organization_id}}">{{organization.organization_name}}</option>
                        </select> --> 
                         <ng-select name="organizationList" (data)="organizationList"                                                       
                            [items]="organizationList"
                            (selected)="organization"
                            placeholder="No organization selected">
                        </ng-select>
                        <input type="hidden" name="organization" [(ngModel)]="organization">                     
                    </div>
                    <div class="form_row clearfix">
                        <label>Location<span class="indicates">*</span></label>
                        <!--<select class="form-control" name="location" [(ngModel)]="location" >
                            <option *ngFor="let venue of venueList" value="{{venue.venue_id}}">{{venue.address}}</option>
                        </select>-->
                        <ng-select name="locationList" (data)="venueList"                                                       
                            [items]="venueList"
                            (selected)="location"
                            placeholder="No location selected">
                        </ng-select>
                        <input type="hidden" name="location" [(ngModel)]="location">                       
                    </div>
                    <div class="form_row clearfix">
                        <label>Intended Audience:</label>
                        <div class="">                                            
                            <ng-select (data)="audienceList"
                            [multiple]="true"                            
                            [items]="audienceList"
                            (selected)="audience">
                            </ng-select>
                           <input type="hidden" name="audience" [(ngModel)]="audience">
                        </div>
                    </div>    
                    <div class="form_row clearfix">
                        <label>Contact Info<span class="indicates">*</span></label>
                        <input type="tel" [(ngModel)]="contact" id="contactinfo" name="contact" value="" class="form-control textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Event Purpose</label>
                        <input type="text" [(ngModel)]="purpose" id="purpose" name="purpose" value="" class="form-control textfield">
                    </div>
                    <div class="form_row clearfix">
                        <label>Event Keywords</label>
                        <div class="">
                            <!--<select [(ngModel)]="keyword" id="multiple" name="keyword" class="form-control select2-multiple" multiple>
                                <optgroup label="Tech">
                                    <option>Cisco</option>
                                    <option>Database</option>
                                    <option>Microsoft's</option>
                                    <option>Networking</option>
                                    <option>Open Source</option>
                                    <option>IT</option>
                                </optgroup>
                            </select>-->                           
                            <ng-select (data)="organizationList"
                            [multiple]="true"                            
                            [items]="keywordList"
                            (selected)="keyword">
                            </ng-select>
                           <input type="hidden" name="keyword" [(ngModel)]="keyword">
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>Upload Images</label>
                        <input type="file" name="event-images" id="event-images" value="" class="form-control textfield"> 
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form_row ">
                        <a class="btn btn-warning" type="submit" value="Save" name="submit">Save</a>    
                        <a class="btn btn-warning" type="reset" value="Cancel" name="reset">    Cancel</a>
                    </div>
                </div>
            </form>
        </div>
        <!-- #content --> 

        <!--single post type sidebar -->
        <div id="sidebar-primary" class="sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">     
                    <div class="textwidget text-center">    
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>    
                    </div>
                </div>
            </div>
            
            <!-- 300x150 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">     
                    <div class="textwidget text-center">    
                        <a href="">
                            <img src="app/assets/images/ads images/300x150.jpg">
                        </a>    
                    </div>
                </div>
            </div>
        </div>
        <!--end single post type sidebar --> 
        <!-- end  content part-->
    </div>
    <!-- .wrap -->
</section>

<!-- <app-footer></app-footer> -->

