<app-header></app-header>

<section id="main" class="clearfix">
    <div class="wrap row">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a href="" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <a href="" title="News">Blog</a>
                <span class="sep">»</span>
                <span class="trail-end">Reservation and Booking System + Multilevel Category Selection</span>
            </div>
        </div>

        <section id="content" class="large-9 small-12 columns">
            <div class="hfeed">
                <div class="post">
                    <h1 class="post-title entry-title">Reservation and Booking System + Multilevel Category Selection</h1>
                    <div class="byline">Published by 
                        <span class="author vcard">
                            <a class="url fn n" href="" title="Smith">Smith</a>
                        </span> On 
                        <abbr class="published" title="Saturday, August 27th, 2016, 3:39 pm">Aug 27, 2016</abbr> 
                        <a class="comments-link" href="" title="Comment on Reservation and Booking System + Multilevel Category Selection">Leave a response</a>
                    </div>			

                    <section class="entry-content">
                        <div class="entry-thumbnail">
                            <img src="http://demo.templatic.com/eventum/../images/post/directory-woocommercebookings-15.jpg" alt="">
                        </div>
                        <p>
                            <strong>Reservation and Booking System</strong><br>
                            Introducing a powerful reservation and booking system in the directory.
                        </p>

                        <p>We have integrated industry’s best booking services. Installing WooCommerce Booking plugin it will turn your portal to a fully fledged booking system. Allow users to book hotel accommodation, rental properties, hire cars, book tours, appointments or even restaurant tables and a lot more.</p>
                        <p>Want to see it Live? Click 
                            <a href="" target="_blank"><strong>here</strong></a> for Live Demo.
                        </p>
                        <p>
                            <strong>Multi-Level Category Selection options (NEW) </strong>:<br>
                            Recently we have added Multilevel category selection option which determines the look of the categories field inside the submission form. This option will allow the user to select the category as per parent and child hierarchy. It is a very useful option when you have a number of categories and sub-categories to choose. Simply select a parent category it will open a new section which loads all child categories of that parent category. With this option, you can select multiple parent/child categories while submitting a listing. Isn’t it is more manageable?
                        </p>
                        <p>Available choices are Checkbox, Multi-select, Select and Multi-Level Category Selection. Checkbox, Multi-select and Multi-Level Category Selection allow visitors to select multiple categories while Select allows only one to be selected.</p>
                    </section>
                    <!-- .entry-content -->
                    <div class="entry-meta "> 
                        <span class="category">
                            <span class="before">Categories: </span>
                            <a href="" rel="tag">Blog</a>
                        </span> 
                    </div>			
                </div>
                <!-- .hentry -->
                <div class="loop-nav">
                    <a href="" rel="prev">
                        <span class="previous">
                            <span class="meta-nav">←</span>
                            Previous
                        </span>
                    </a>        
                </div>
            </div>
            <!-- .hfeed -->
        </section>

        <aside id="sidebar-post-listing" class="post-listing-sidebar sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>	
                    </div>
                </div>
            </div>

            <div id="social_media-3" class="widget social_media">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title">Connect With Us</h3>
                    <div class="social_media">
                        <ul class="social_media_list">
                            <li> <a href="http://facebook.com/" target="_blank">
                                    <i class="fa fa-facebook"></i>Find us on Facebook </a> </li>
                            <li> <a href="http://twitter.com/" target="_blank">
                                    <i class="fa fa-twitter"></i>Follow us on Twitter </a> </li>
                            <li> <a href="http://www.youtube.com/" target="_blank">
                                    <i class="fa fa-youtube"></i>Find us on Youtube </a> </li>
                            <li> <a href="http://www.linkedin.com/" target="_blank">
                                    <i class="fa fa-linkedin"></i>Connect with us on LinkedIn </a> </li>
                            <li> <a href="http://www.googleplus.com/" target="_blank">
                                    <i class="fa fa-google-plus"></i>Find us on Google+ </a> </li>
                            <li> <a href="http://www.pintrest.com/" target="_blank">
                                    <i class="fa fa-pinterest"></i>Find us on Pinterest </a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 300x250 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x250.jpg">
                        </a>	
                    </div>
                </div>
            </div>
            
        </aside>
    </div>
</section>




<app-footer></app-footer>