<!-- <app-header></app-header> -->

<section id="main" class="clearfix">
    <div class="wrap row">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <a [routerLink]="['/blog']" title="News">Blog</a>
                <span class="sep">»</span>
                <span class="trail-end">{{blogDetail.blog_title}}</span>
            </div>
        </div>

        <section id="content" class="large-9 small-12 columns">
            <div class="hfeed">
                <div class="post">
                    <h1 class="post-title entry-title">{{blogDetail.blog_title}}</h1>
                    <div class="byline">Published by 
                        <span class="author vcard">
                            <b>{{blogDetail.username}}</b>
                        </span> On 
                        <abbr class="published" title="Saturday, August 27th, 2016, 3:39 pm">{{blogDetail.create_date}}</abbr> 
                        <a class="comments-link" href="javascript:void(0)" title="Comment on Reservation and Booking System + Multilevel Category Selection">Leave a response</a>
                    </div>			

                    <section class="entry-content">
                        <div class="entry-thumbnail">
                            <img src="{{blogDetail.thumb}}" alt="">
                        </div>
                        <p [innerHTML]="blogDetail.blog_content">
                       
                    </section>
                    <!-- .entry-content -->
                    <div class="entry-meta "> 
                        <span class="category">
                            <span class="before">Categories: </span>
                            <a href="" rel="tag">{{ blogDetail.blog_category}}</a>
                        </span> 
                    </div>			
                </div>
                <!-- .hentry -->
                <div class="loop-nav">
                    <a *ngIf="previous!=null" rel="next" [routerLink]="['/blog_detail',previous]">
                        <span class="previous">
                            <span class="meta-nav">&larr;</span>
                            Previous
                        </span>
                    </a>
                     <a *ngIf="next!=null" [routerLink]="['/blog_detail',next]" >
                        <span class="next" >
                          Next
                              <span class="meta-nav">&rarr;</span>
                        </span>
                    </a>         
                </div>
            </div>
            <!-- .hfeed -->
        </section>

        <aside id="sidebar-post-listing" class="post-listing-sidebar sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                         <iframe scrolling="no" width="100%" height="600" src="http://2016.geekmeet.com/banner.php?title=blog-300x600"></iframe> 	
                    </div>
                </div>
            </div>

            <div id="social_media-3" class="widget social_media">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title">Connect With Us</h3>
                    <div class="social_media">
                        <ul class="social_media_list">
                            <li> <a href="http://facebook.com/" target="_blank">
                                    <i class="fa fa-facebook"></i>Find us on Facebook </a> </li>
                            <li> <a href="http://twitter.com/" target="_blank">
                                    <i class="fa fa-twitter"></i>Follow us on Twitter </a> </li>
                            <li> <a href="http://www.youtube.com/" target="_blank">
                                    <i class="fa fa-youtube"></i>Find us on Youtube </a> </li>
                            <li> <a href="http://www.linkedin.com/" target="_blank">
                                    <i class="fa fa-linkedin"></i>Connect with us on LinkedIn </a> </li>
                            <li> <a href="http://www.googleplus.com/" target="_blank">
                                    <i class="fa fa-google-plus"></i>Find us on Google+ </a> </li>
                            <li> <a href="http://www.pintrest.com/" target="_blank">
                                    <i class="fa fa-pinterest"></i>Find us on Pinterest </a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 300x250 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                       	
                          <iframe scrolling="no" width="100%" height="600" src="http://2016.geekmeet.com/banner.php?title=blog-300x250"></iframe> 
                    </div>
                </div>
            </div>
            
        </aside>
    </div>
</section>




<!-- <app-footer></app-footer> -->