<div class="menu-secondary_wpr">     
    <div class="row">  
        <div id="nav-secondary" class="nav_bg columns">
            <div id="menu-secondary" class="menu-container clearfix">
                <nav role="navigation" class="wrap">
                    <!-- #menu-secondary-title -->
                    <div id="menu-secondary-title">
                        Menu    
                    </div>
                    <div class="menu">
                        <ul id="menu-secondary-items" class="mega">
                            <!-- <li  *ngFor = "let category of menuArr let index = index"><a href="">{{category.category_name}}</a></li> -->

                            <li  *ngFor="let category of menuArr; let index = index" >
                            <a href="javascript:void(0)" (click)="getEventByCategory(category.category_name)">{{category.category_name}}</a>
                            </li>
                         
                        </ul>
                    </div>  
                </nav>
            </div>
            <!-- #menu-secondary .menu-container -->
        </div>
    </div>
</div>