<!-- <app-header></app-header> -->

<section id="main" class="clearfix" itemscope>
    <div class="wrap row">
        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <span class="trail-end"> <a [routerLink]="['/profile']">Profile</a></span>
                <span class="sep">»</span> 
                <span class="trail-end" itemprop="title">Edit Profile</span>
            </div>
        </div>
        <!-- <button id="notification" (click)="addToast()"></button> -->

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Edit Profile</h3>
            </div>

            <form #updateProfileForm="ngForm" (ngSubmit)="updateUserProfile(updateProfileForm.value)">
                <div class="event-edit-form large-9 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Profile Photo<span class="indicates">*</span></label>
                        <div class="col-sm-10 -m-rl-15">
                            <input type="file" image-upload
                            (imageSelected)="selected($event)"
                            [resizeOptions]="resizeOptions">
                        </div>
                    </div>
                    <div class="form_row clearfix" itemprop="name">
                        <label>First Name <span class="indicates">*</span></label>
                        <input type="text" name="first_name" id="" [(ngModel)]="userInfoArr.first_name" class="form-control textfield" >
                        <ul class="error" *ngIf="errors['first_name']!=''" >
                            <li *ngFor="let org_err of errors['first_name']">{{org_err}}</li>    
                        </ul>   
                    </div>
                    <div class="form_row clearfix" itemprop="name">
                        <label>Last Name <span class="indicates">*</span></label>
                        <input type="text" name="last_name" id="" [(ngModel)]="userInfoArr.last_name" class="form-control textfield" >
                        <ul class="error" *ngIf="errors['last_name']!=''" >
                            <li *ngFor="let org_err of errors['last_name']">{{org_err}}</li>    
                        </ul>  
                    </div>
                    <div class="form_row clearfix" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <label>Address <span class="indicates"></span></label>
                        <textarea class="textfield" name="address" [(ngModel)]="userInfoArr.address" style="height: 100px"></textarea>
                        <ul class="error" *ngIf="errors['address']!=''" >
                            <li *ngFor="let org_err of errors['address']">{{org_err}}</li>    
                        </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Birth date<span class="indicates"></span></label>
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDateNormal"></my-date-picker>
                        <ul class="error" *ngIf="errors['dob']!=''" >
                            <li *ngFor="let org_err of errors['dob']">{{org_err}}</li>    
                        </ul> 
                        <input type="hidden" name="dob" [(ngModel)]="selectedDateNormal">
                    </div>
                    <div class="form_row clearfix">
                        <label>Birth place<span class="indicates"></span></label>
                        <input type="text" name="birth_place" id="" [(ngModel)]="userInfoArr.birth_place" class="textfield">
                        <ul class="error" *ngIf="errors['birth_place']!=''" >
                            <li *ngFor="let org_err of errors['birth_place']">{{org_err}}</li>    
                        </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Gender <span class="indicates"></span></label>
                        <div class="col-sm-12">
                            <label class=""><input type="radio" value="male" name="gender" [(ngModel)]="userInfoArr.gender"  [checked]="'male'==userInfoArr.gender">Male </label>
                            <label><input type="radio" value="female" [(ngModel)]="userInfoArr.gender" name="gender" [(ngModel)]="gender" [checked]="'female'==userInfoArr.gender" />Female </label>
                            <ul class="error" *ngIf="errors['gender']!=''" >
                                <li *ngFor="let org_err of errors['gender']">{{org_err}}</li>    
                            </ul> 
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>Country<span class="indicates"></span></label>
                        <select class="chosen-select form-control" name="country" [(ngModel)]="userInfoArr.country" (ngModelChange)="getState($event)">
                            <option *ngFor="let country of countryList" value="{{country.id}}">{{country.name}}</option>
                        </select>
                        <ul class="error" *ngIf="errors['country']!=''" >
                                <li *ngFor="let org_err of errors['country']">{{org_err}}</li>    
                            </ul>  
                    </div>

                    <div class="form_row clearfix">
                        <label>State<span class="indicates"></span></label>
                        <select class="form-control" name="state" [(ngModel)]="userInfoArr.state" (ngModelChange)="getCIty($event)">
                            <option selected="selected" value="-1" disabled="disabled">--Select State--</option>
                            <option *ngFor="let state of stateListArr" value="{{state.state_id}}" >{{state.name}}</option>
                        </select>
                        <ul class="error" *ngIf="errors['state']!=''" >
                                <li *ngFor="let org_err of errors['state']">{{org_err}}</li>    
                            </ul> 
                    </div>
                    <div class="form_row clearfix">
                        <label>City<span class="indicates"></span></label>
                        <select class="form-control" name="city" [(ngModel)]="userInfoArr.city" >
                            <option selected="selected" value="-1" disabled="disabled">--Select City--</option>
                            <option *ngFor="let city of cityList" value="{{city.city_id}}">{{city.name}}</option>
                        </select>
                        <ul class="error" *ngIf="errors['city']!=''" >
                                <li *ngFor="let org_err of errors['city']">{{org_err}}</li>    
                            </ul> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Zip Code<span class="indicates"></span></label>
                        <input type="text" name="zip_code" id="" [(ngModel)]="userInfoArr.zip_code" class="form-control textfield" >
                        <ul class="error" *ngIf="errors['zip_code']!=''" >
                                <li *ngFor="let org_err of errors['zip_code']">{{org_err}}</li>    
                            </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Email<span class="indicates">*</span></label>
                        <input type="email" name="email" [(ngModel)]="userInfoArr.email" class="form-control textfield" >
                        <ul class="error" *ngIf="errors['email']!=''" >
                                <li *ngFor="let org_err of errors['email']">{{org_err}}</li>    
                            </ul> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Contact</label>
                        <input type="tel" name="phone" [(ngModel)]="userInfoArr.phone" class="form-control textfield" >
                         <ul class="error" *ngIf="errors['phone']!=''" >
                                <li *ngFor="let org_err of errors['phone']">{{org_err}}</li>    
                            </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Interest Topic</label>
                        <div class="col-sm-12 -m-rl-15">
                            <ng-select (data)="value"
                            [multiple]="true"
                            [active] = "userInfoArr.favorite_category"
                            [items]="keywordList"
                            (data)="refreshValue($event)"
                            (selected)="value">
                        </ng-select>
                    </div>
                </div>
                <div class="form_row clearfix" itemprop="description">
                    <label>About Me</label>
                   <!--  <ckeditor [(ngModel)]="userInfoArr.about_me" debounce="500" [config]="{uiColor: '#99000'}">
               </ckeditor> -->
               <ckeditor name="about_me" [(ngModel)]="userInfoArr.about_me" debounce="400"></ckeditor>
               <!-- <textarea class="ckeditor form-control" name="about_me" rows="6" [(ngModel)]="userInfoArr.about_me"></textarea> -->
           </div>
           <div class="form_row ">
            <button class="btn btn-info" type="submit">Update</button>
            <a class="btn btn-info" [routerLink]="['/profile']" value="Save" name="submit">Cancel</a>	
        </div>
    </div>
</form>
        <!-- <button (click)="create()">Create Notification</button>
        <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications> -->
    </div>
</div>
<!-- .wrap -->
</section>

<!-- <app-footer></app-footer> -->