<!-- <app-header></app-header> -->

<section id="main" class="clearfix">
    <div class="wrap row">
        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <span class="trail-end"> <a [routerLink]="['/profile']">Profile</a></span>
                <span class="sep">»</span> 
                <span class="trail-end">Edit Profile</span>
            </div>
        </div>
        <!-- <button id="notification" (click)="addToast()"></button> -->
        <ng2-toasty [position]="'top-center'" ></ng2-toasty>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Edit Profile</h3>
            </div>

            <form #updateProfileForm="ngForm" (ngSubmit)="updateUserProfile(updateProfileForm.value)">
                <div class="event-edit-form large-9 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Profile Photo<span class="indicates">*</span></label>
                        <div class="col-sm-10 -m-rl-15">
                            <!-- <input type="file" name="image" value="" class="form-control textfield" ngModel>  -->
                            <input type="file" image-upload
                            (imageSelected)="selected($event)"
                            [resizeOptions]="resizeOptions">
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>First Name <span class="indicates">*</span></label>
                        <input type="text" name="first_name" id="" [(ngModel)]="userInfoArr.first_name" class="form-control textfield" >
                        <span id="errfield">{{firstname}}</span>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Last Name <span class="indicates">*</span></label>
                        <input type="text" name="last_name" id="" [(ngModel)]="userInfoArr.last_name" class="form-control textfield" >
                        <span id="errfield">{{lastname}}</span>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Address <span class="indicates">*</span></label>
                        <textarea class="textfield" name="address" [(ngModel)]="userInfoArr.address" style="height: 100px"></textarea>
                        <span id="errfield">{{address}}</span>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Birth date<span class="indicates">*</span></label>
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDateNormal"></my-date-picker>
                        <span id="errfield">{{dob}}</span> 
                        <input type="hidden" name="dob" [(ngModel)]="selectedDateNormal">
                    </div>
                    <div class="form_row clearfix">
                        <label>Birth place<span class="indicates">*</span></label>
                        <input type="text" name="birth_place" id="" [(ngModel)]="userInfoArr.birth_place" class="textfield">
                        <span id="errfield">{{birthplace}}</span>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Gender <span class="indicates">*</span></label>
                        <div class="col-sm-12">
                            <label class=""><input type="radio" value="male" name="gender" [(ngModel)]="userInfoArr.gender"  [checked]="'male'==userInfoArr.gender">Male </label>
                            <label><input type="radio" value="female" [(ngModel)]="userInfoArr.gender" name="gender" [(ngModel)]="gender" [checked]="'female'==userInfoArr.gender" />Female </label>
                            <span id="errfield">{{gendererr}}</span> 
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>Country<span class="indicates">*</span></label>
                        <select class="form-control" name="country" [(ngModel)]="userInfoArr.country" >
                            <option *ngFor="let country of countryList" value="{{country.id}}" (click)="getState(country.id)" >{{country.name}}</option>
                        </select>
                        <span id="errfield">{{country}}</span> 
                    </div>

                    <div class="form_row clearfix">
                        <label>State<span class="indicates">*</span></label>
                        <select class="form-control" name="state" [(ngModel)]="userInfoArr.state" >
                            <option *ngFor="let state of stateListArr" value="{{state.state_id}}" (click)="getCIty(state.state_id)" >{{state.name}}</option>
                        </select>
                        <span id="errfield">{{state}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>City<span class="indicates">*</span></label>
                        <select class="form-control" name="city" [(ngModel)]="userInfoArr.city" >
                            <option *ngFor="let city of cityList" value="{{city.city_id}}">{{city.name}}</option>
                        </select>
                        <span id="errfield">{{city}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Zip Code<span class="indicates">*</span></label>
                        <input type="text" name="zip_code" id="" [(ngModel)]="userInfoArr.zip_code" class="form-control textfield" >
                        <span id="errfield">{{zipcode}}</span>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Email<span class="indicates">*</span></label>
                        <input type="email" name="email" [(ngModel)]="userInfoArr.email" class="form-control textfield" >
                        <span id="errfield">{{email}}</span> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Contact</label>
                        <input type="tel" name="phone" [(ngModel)]="userInfoArr.phone" class="form-control textfield" >
                        <span id="errfield">{{contact}}</span>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Interest Topic</label>
                        <div class="col-sm-12 -m-rl-15">
                            <ng-select (data)="value"
                            [multiple]="true"
                            [active] = "userInfoArr.favorite_category"
                            [items]="topicArr"
                            (data)="refreshValue($event)"
                            (selected)="value">
                        </ng-select>
                    </div>
                </div>
                <div class="form_row clearfix">
                    <label>About Me</label>
                   <!--  <ckeditor [(ngModel)]="userInfoArr.about_me" debounce="500" [config]="{uiColor: '#99000'}">
                  </ckeditor> -->
                  <textarea class="ckeditor form-control" name="about_me" rows="6" [(ngModel)]="userInfoArr.about_me"></textarea>
              </div>
              <div class="form_row ">
                <button class="btn btn-info" type="submit">Update</button>
                <a class="btn btn-info" [routerLink]="['/profile']" value="Save" name="submit">Cancel</a>	
            </div>
        </div>
    </form>
        <!-- <button (click)="create()">Create Notification</button>
        <simple-notifications [options]="options" (onCreate)="onCreate($event)" (onDestroy)="onDestroy($event)"></simple-notifications> -->
    </div>
</div>
<!-- .wrap -->
</section>

<!-- <app-footer></app-footer> -->