<!-- <app-header></app-header> -->

<section id="main" class="clearfix">
    <div class="wrap row">
        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <span class="trail-end">Edit Profile</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Edit Profile</h3>
            </div>

            <form #updateProfileForm="ngForm" (ngSubmit)="updateUserProfile(updateProfileForm.value)">
                <div class="event-edit-form large-9 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Profile Photo<span class="indicates">*</span></label>
                        <div class="col-sm-10 -m-rl-15">
                            <input type="file" name="image" value="" class="form-control textfield" ngModel> 
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>First Name <span class="indicates">*</span></label>
                        <input type="text" name="first_name" id="" [(ngModel)]="userInfoArr.first_name" class="form-control textfield" > 
                    </div>
                    <div class="form_row clearfix">
                        <label>Last Name <span class="indicates">*</span></label>
                        <input type="text" name="last_name" id="" [(ngModel)]="userInfoArr.last_name" class="form-control textfield" > 
                    </div>
                    <div class="form_row clearfix">
                        <label>Address <span class="indicates">*</span></label>
                        <textarea class="textfield" name="address" [(ngModel)]="userInfoArr.address" style="height: 100px"></textarea> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Birth date<span class="indicates">*</span></label>
                        <!-- <input type="text" name="dob" id="birth-date" [(ngModel)]="userInfoArr.dob" class="form-control textfield" > -->
                        <!-- <datepicker-ionic singleSelect ([ngModel])="date"></datepicker-ionic>  -->
                        <!-- <datepicker [(ngModel)]="dateValue"></datepicker> -->
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event)" [selDate]="selectedDateNormal"></my-date-picker>
                        <input type="hidden" name="dob" [(ngModel)]="selectedDateNormal">
                    </div>
                    <div class="form_row clearfix">
                        <label>Birth place<span class="indicates">*</span></label>
                        <input type="text" name="birth_place" id="" [(ngModel)]="userInfoArr.birth_place" class="textfield"> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Gender <span class="indicates">*</span></label>
                        <div class="col-sm-12">
                            <label class=""><input type="radio" name="gender" value="male" [checked]="'male'===userInfoArr.gender" [(ngModel)]="gender" />Male </label>
                            <label><input type="radio" value="female" name="gender" [(ngModel)]="gender" [checked]="'female'===userInfoArr.gender" />Female </label>
                        </div>
                    </div>
                    <div class="form_row clearfix">
                        <label>Country<span class="indicates">*</span></label>
                        <select class="form-control">
                            <option [selected]="userInfoArr.country==country.id"  *ngFor="let country of countryList" value="{{country.id}}" (click)="getState(country.id)" >{{country.name}}</option>
                        </select>
                    </div>

                    <div class="form_row clearfix">
                        <label>State<span class="indicates">*</span></label>
                        <select class="form-control">
                            <option [selected]="userInfoArr.state==state.state_id" *ngFor="let state of stateList" value="{{state.state_id}}" (click)="getCIty(state.state_id)" >{{state.name}}</option>
                        </select>
                    </div>

                    <div class="form_row clearfix">
                        <label>City<span class="indicates">*</span></label>
                        <select class="form-control">
                            <option [selected]="userInfoArr.city==country.city_id" *ngFor="let city of cityList" value="{{city.city_id}}">{{city.name}}</option>
                        </select>
                    </div>
                    <!-- <input type="text" name="city_name" id="" class="form-control textfield" >  -->
                    <div class="form_row clearfix">
                    <label>Zip Code<span class="indicates">*</span></label>
                    <input type="text" name="zip_code" id="" [(ngModel)]="userInfoArr.zip_code" class="form-control textfield" > 
                </div>
                <div class="form_row clearfix">
                    <label>Email<span class="indicates">*</span></label>
                    <input type="email" name="email" [(ngModel)]="userInfoArr.email" class="form-control textfield" >
                </div>
                <div class="form_row clearfix">
                    <label>Contact</label>
                    <input type="tel" name="phone" [(ngModel)]="userInfoArr.phone" class="form-control textfield" > 
                </div>
                <div class="form_row clearfix">
                    <label>Interest Topic</label>
                    <div class="col-sm-12 -m-rl-15">
                            <!-- <select id="multiple" class="textfield select2-multiple" [(ngModel)]="userInfoArr.favorite_category" multiple name="favorite_category[]"> 
                                <optgroup label="Tech"  *ngFor="let topic of userInfoArr.favorite_category">
                                    <option>Cisco</option>
                                    <option>Database</option>
                                    <option>Microsoft's</option>
                                    <option>Networking</option>
                                    <option>Open Source</option>
                                    <option>IT</option>
                                </optgroup>
                            </select> -->
                            <ng-select (data)="value"
                            [multiple]="true"
                            [items]="userInfoArr.favorite_category"
                            (selected)="value">
                        </ng-select>
                        <input type="hidden" name="favorite_category" [(ngModel)]="value">
                    </div>
                </div>
                <div class="form_row clearfix">
                    <label>About Me</label>
                    <textarea class="ckeditor form-control" name="about_me" rows="6" [(ngModel)]="userInfoArr.about_me"></textarea>
                </div>
                <div class="form_row ">
                    <button class="btn btn-info" type="submit">Update</button>
                    <a class="btn btn-info" type="reset" value="Save" name="submit">Cancel</a>	
                </div>
            </div>
        </form>
    </div>
</div>
<!-- .wrap -->
</section>

<!-- <app-footer></app-footer> -->