.organization-logo {
    display: inline-block;
    float: left;
    margin: 0 36px 0 0;
    text-align: center;
    vertical-align: top;
    width: 150px;
}

.org_btn a{
    color: #fff !important;
}

.organization_div{
	margin-bottom: 15px;
}

