.errfield{
	color: 	#FF0000;
}
.yellow {
    color: #ffce12;
}
#location-add label{
	font-weight: normal;
}
.modal{
	position: sticky;
}
.glyphicon.glyphicon-menu-hamburger{
	display: none;
}
.modal-header{
margin-bottom: 20px;
}
.sebm-google-map-container {
	height: 300px;
}
.kv-file-content{
	height: 160px;
	width: 200px;
}

