<app-header></app-header>
<div class="home_page_banner container-wrap-bg clear clearfix clearfix map_full_width" style="float: left;width: 100%;margin: 0;height: 500px;z-index: 1;">
    <div id="directory_search_location-2" class="widget search_key">
        <div class="widget-wrap widget-inside">
            <div class="search_nearby_widget what_fld_search">
                <!--<div class="title-subtitle">Create an Events Portal easily using this theme.<span> Search through 1500 events</span></div>-->            
                <form name="searchform_1748020477" method="get" class="searchform_1748020477 allinone" id="searchform" action="#" style="position:relative;">
                    <input name="post_type" value="event" type="hidden">
                    <input name="mkey[]" value="all" type="hidden">

                    <input name="custom_cat" value="" type="hidden">
                    <input value="" name="s" id="search_near-557435365" class="searchpost placeholder" placeholder="What do you want to do today?" size="100" type="text">

                    <input name="t" value="acebef955d" type="hidden">
                    <input name="t" value="acebef955d" type="hidden">
                    <input name="relation" class="sgo" value="OR" type="hidden">
                    <input class="sgo" value="Search" type="submit">
                </form>
            </div>
        </div>
    </div>     
</div>
<body style="height: 100%;">
<!-- <?php include './second_menu.php'; ?> -->
<app-second-menu (onMenuChange)="onchange($event)"></app-second-menu>

<section id="main" class="clearfix">
    <div class="wrap row">
        <section id="content" class="large-9 small-12 columns">
            <div class="hfeed">
                <div class="home_page_content">
                    <div id="directory_featured_homepage_listing-1" class="widget special m-t-20">
                        <div class="widget-wrap widget-inside">                       
                            <div id="widget_loop_event" class="widget widget_loop_taxonomy widget_loop_event">
                                <div class="title-subtitle">  
                                    <h3 class="widget-title">
                                        <span>Popular Events</span>
                                        <a href="" class="more">
                                            View All                              
                                        </a>
                                    </h3>
                                </div>    
                                <!-- widget_loop_taxonomy_wrap START -->
                                <section id="loop_listing_taxonomy" class="widget_loop_taxonomy_wrap  grid">
                                    <!-- inside loop div start -->
                                    <article id="event_27121" class="post large-4 medium-4 small-6 xsmall-12 columns post" *ngFor = "let events of popularArr">
                                        <div class="listing_img">
                                            <a [routerLink]="['/event_detail',events.event_id]"> 
                                            <img src="{{events.featured_image}}" alt="image" title="{{events.title}}">
                                           </a>
                                        </div>

                                        <!-- Entry Start -->
                                        <div class="entry">
                        <div class="event-wrapper"> 
                            <!-- Entry title start -->
                            <div class="entry-title">
                                <div class="event-title">       
                                    <span class="date">
                                        {{events.start_date}}           <span></span>
                                    </span>
                                    <h2 class="entry-title">
                                        <a itemprop="url" href="" [routerLink]="['/event_detail',events.event_id]" title="{{events.event_title}}" rel="bookmark">{{events.event_title}}</a>
                                    </h2>
                                    <div class="listing_rating">
                                        <div class="directory_rating_row">
                                            <span class="single_rating"> 
                                                <i class="rating-on"></i>
                                                <i class="rating-on"></i>
                                                <i class="rating-on"></i>
                                                <i class="rating-on"></i>
                                                <i class="rating-on"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Entry title end --> 

                                <!-- Entry details start -->
                                <div class="entry-details">
                                  
                                    <p class="event_date">
                                        <span>
                                            <span itemprop="startDate" content="2014-07-08T22:00">{{events.start_date}}</span>
                                            To <span itemprop="endDate" content="2019-07-08T23:30">{{events.end_date}}</span>
                                        </span>
                                    </p>
                                    <p class="time">
                                        <span>{{events.start_time}} To {{events.end_time}}</span>
                                    </p>
                                                                                                               </div>
                                <!-- Entry details end --> 
                            </div>
                            <!--Start Post Content -->
                            <div class="entry-summary" itemprop="description"><p>{{events.event_description}} <a class="moretag" href="http://demo.templatic.com/eventum/city/new-york/event/disaster-a-70s-movie-musical/">&nbsp;Read more »</a></p></div>                                                                        <!-- End Post Content -->
                            <div class="rev_pin">
                                <ul> 
                                    <li class="favourite">
                                        <span id="tmplfavorite_27121" class="fav fav_27121">
                                            <a href="javascript:void(0);" data-reveal-id="tmpl_reg_login_container" id="tmpl_login_frm_27121" data-id="27121" class="addtofav  small_btn">Add to favorites</a>
                                        </span>
                                    </li>

                                    <li class="review"> <a id="reviews_show" href="javascript:void(0);">8 &nbsp;</a></li>

                                                  
                                </ul>
                            </div>                                                                    
                        </div>
                        <!-- Entry End -->
                    </div>
                                    </article>
                                 
                                   
                                   
                                </section>
                                <!-- widget_loop_taxonomy_wrap eND --> 
                            </div>
                        </div>
                    </div>            
                    <!-- widget_loop_taxonomy -->
                    <!-- 728x90 ad_space -->
                    <div id="templatic_text-1" class="widget templatic_text">
                        <div class="widget-wrap widget-inside">		
                            <div class="textwidget text-center">	
                                <a href="">
                                    <img src="app/assets/images/ads images/728x90.jpg">
                                </a>	
                            </div>
                        </div>
                    </div>
                    
                    <div id="directory_featured_homepage_listing-2" class="widget special">
                        <div class="widget-wrap widget-inside">                        
                            <div id="widget_loop_event" class="widget widget_loop_taxonomy widget_loop_event">
                                <div class="title-subtitle">  
                                    <h3 class="widget-title"><span>Upcoming Events</span>
                                        <a href="" class="more">View All </a>
                                    </h3>
                                </div>    
                                <!-- widget_loop_taxonomy_wrap START -->
                                <section id="loop_listing_taxonomy" class="widget_loop_taxonomy_wrap  list">
                                    <!-- inside loop div start -->
                                         <article class="post" *ngFor = "let upcomingevents of upcomingArr">
                                        <div class="listing_img">
                                            <a href="" [routerLink]="['/event_detail',upcomingevents.event_id]"> 
                                            <img src="{{upcomingevents.featured_image}}" alt="image" title="{{upcomingevents.title}}">
                                           </a>
                                        </div>

                                        <!-- Entry Start -->
                                        <div class="entry">
                                            <div class="event-wrapper"> 
                                                <!-- Entry title start -->
                                                <div class="entry-title">
                                                    <div class="event-title">       
                                                        <span class="date">
                                                            {{upcomingevents.start_date}}  

                                                        </span>
                                                        <h2 class="entry-title">
                                                            
                                                             <a itemprop="url" href="" [routerLink]="['/event_detail',upcomingevents.event_id]" title="{{upcomingevents.event_title}}" rel="bookmark">{{upcomingevents.event_title}}</a></h2>

                                                        <div class="listing_rating">
                                                            <div class="directory_rating_row"><span class="single_rating"> <i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i><i class="rating-on"></i> </span></div>
                                                        </div>
                                                    </div>
                                                    <!-- Entry title end --> 

                                                    <!-- Entry details start -->
                                                    <div class="entry-details">
                                                  
                                                        <p class="event_date">
                                                            <span>
                                                                <span itemprop="startDate" content="2014-07-08T15:30"> {{upcomingevents.start_date}}</span>
                                                                To <span itemprop="endDate" content="2019-07-08T17:30"> {{upcomingevents.end_date}}</span>
                                                            </span>
                                                        </p>
                                                        <p class="time">
                                                        <span>
                                            <span itemprop="startDate" content="2014-07-08T22:00">{{upcomingevents.start_time}}</span>
                                            To <span itemprop="endDate" content="2019-07-08T23:30">{{upcomingevents.end_time}}</span>
                                        </span>
                                                           </p><!--googleoff: all-->
                                                                                                                               
                                                    </div>
                                                    <!-- Entry details end --> 
                                                </div>
                                                <!--Start Post Content -->
                                                <div class="entry-summary" itemprop="description">
                                                <p [innerHTML]="upcomingevents.event_description"></p>
                                               
                                                </div>                                                                        <!-- End Post Content -->
                                                <div class="rev_pin"><ul> 
                                                        <li class="favourite">              <span id="tmplfavorite_27097" class="fav fav_27097"><a href="javascript:void(0);" data-reveal-id="tmpl_reg_login_container" id="tmpl_login_frm_27097" data-id="27097" class="addtofav  small_btn" onclick="javascript:addToFavourite('27097', 'add');">Add to favorites</a></span>
                                                        </li>

                                                        <li class="review"> <a href="javascript:void(0);" id="reviews_show" href="http://demo.templatic.com/eventum/city/new-york/event/a-moving-sound/#comments">8 &nbsp;</a></li>

                                                                   
                                                    </ul></div>                                                                    </div>
                                            <!-- Entry End -->
                                        </div>
                                        </article>
                                    <!-- inside loop div start -->
                                    
                                </section>
                                <!-- widget_loop_taxonomy_wrap eND --> 
                            </div>
                        </div></div>            <!-- widget_loop_taxonomy -->
                </div>
            </div>

            <!-- .hfeed -->
        </section>
        <!-- #content -->
        <aside id="sidebar-front_page" class="front-page-sidebar sidebar large-3 small-12 columns">

            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside m-t-20">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>	
                    </div>
                </div>
            </div>

            <!-- Group list -->
            <div id="templatic_popular_post_technews-3" class="widget widget-twocolumn popular_posts">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title">Group List</h3>
                    <ul class="listingview clearfix list" id="list_168817222">
                        <li class="clearfix">
                            <a href="" title="Madness" class="link_img" data-rel="">
                                <img src="app/assets/images/img22-250x165.jpg" alt="Madness" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60"></a>
                            <div class="post_data">
                                <h3><a href="" title="Madness">Dallas Php</a></h3>
                                <p>
                                    <span class=""> 
                                        <a href="">70 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/img21-250x165.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Circus Bella</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">88 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">CITI Donuts</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">48 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Great Lakes Cisco Users Group</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">60 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Semislug</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">45 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Conor O'Neils</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">102 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Maker Works</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">32 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Washtenaw County Red Cross</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">48 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Google Developer Group Ann Arbor Android</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">25 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Ann Arbor Perl Mongers</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">21 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>	

            <!-- Organization list -->
            <div id="templatic_popular_post_technews-3" class="widget widget-twocolumn popular_posts">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title">Organization List</h3>
                    <ul class="listingview clearfix list" id="list_168817222">
                        <li class="clearfix">
                            <a href="" title="Madness" class="link_img" data-rel="">
                                <img src="app/assets/images/img22-250x165.jpg" alt="Madness" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60"></a>
                            <div class="post_data">
                                <h3><a href="" title="Madness">Association for Computing Machinery</a></h3>
                                <p>
                                    <span class=""> 
                                        <a href="">170 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/img21-250x165.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Association of Information Technology Professionals</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">188 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Association of Shareware Professionals</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">438 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Computer Professionals for Social Responsibility</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">620 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Independent Computer Consultants Association</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">475 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Institute of Electrical and Electronics Engineers </a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">1012 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Network Professional Association</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">352 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Society for Technical Communication</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">418 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Software Development Forum</a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">225 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="" title="Circus Bella" class="link_img" data-rel="">
                                <img src="app/assets/images/noimage-150x150.jpg" alt="Circus Bella" class="Thumbnail thumbnail popular_post-thumbnail border-r-none " width="60" height="60">
                            </a>
                            <div class="post_data">
                                <h3>
                                    <a href="" title="Circus Bella">Washington Alliance of Technology Workers </a>
                                </h3>
                                <p>
                                    <span class=""> 
                                        <a href="">120 Members</a>
                                    </span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>



        </aside>
    </div>
    <!-- .wrap -->
</section>
<!-- #main -->     

<app-footer></app-footer>  
