<button type="button" class="btn btn-default" (click)="modal_id.open('sm')">Open me!</button>
<modal #modal_id>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Are you sure!</h4>
    </modal-header>
  
    <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="validationModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="validationModal.close()">Ok</button>
        </modal-footer>
</modal>