<!-- <app-header></app-header> -->

<section id="main" class="clearfix" jstcache="0">
    <div class="wrap row" jstcache="0">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="GeekMeet" rel="home" class="trail-begin">Home</a></span> <span class="sep">»</span> <span><a [routerLink]="['/my-events']">My Event's</a></span><span class="sep">»</span> <span>Edit Event</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <div class="event-add">
                <h3>Edit Event</h3>
            </div>
            <ng2-toasty [position]="'top-center'" ></ng2-toasty>
            <form name="event-add" id="event-add" #addEventForm="ngForm" (ngSubmit)="submitEvent(addEventForm.value)">    
                <div class="event-edit-form large-6 small-12 columns">
                    <div class="form_row clearfix">
                        <label>Event Title<span class="indicates">*</span></label>
                        <input type="text" [(ngModel)]="showEventArr.event_title" id="event-title" name="event_title" value="" class="form-control textfield" > 
                       <ul class="error" *ngIf="errors['event_title']!=''" >
                                <li *ngFor="let org_err of errors['event_title']">{{org_err}}</li>    
                            </ul>
                    </div>
                    <div class="form_row clearfix">
                        <label>Start Date<span class="indicates">*</span></label>                                         
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,'start')" [selDate]="startDateNormal"></my-date-picker>
                        <input type="hidden" name="start_date" [(ngModel)]="startDateNormal" >
                        <ul class="error" *ngIf="errors['start_date']!=''" >
                                <li *ngFor="let org_err of errors['start_date']">{{org_err}}</li>    
                            </ul> 
                    </div>
                    <div class="form_row clearfix">
                        <label>Start Time<span class="indicates">*</span></label>
                        <input type="text" id="eventstart-time" class="form-control" [value]="showEventArr.start_time"> 
                        <input type="hidden" id="start-Time" name="start-Time">                      
                        <ul class="error" *ngIf="errors['start_time']!=''" >
                                <li *ngFor="let org_err of errors['start_time']">{{org_err}}</li>    
                            </ul>                         
                    </div>
                    <div class="form_row clearfix">
                        <label>End Date<span class="indicates">*</span></label>                       
                        <my-date-picker [options]="myDatePickerOptions" (dateChanged)="onDateChanged($event,'end')" [selDate]="endDateNormal"></my-date-picker>
                        <input type="hidden" name="end_date" [(ngModel)]="endDateNormal"> 
                        <ul class="error" *ngIf="errors['end_date']!=''" >
                                <li *ngFor="let org_err of errors['end_date']">{{org_err}}</li>    
                            </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>End Time<span class="indicates">*</span></label>                        
                        <input type="text" id="eventend-time" class="form-control" [value]="showEventArr.end_time"> 
                        <input type="hidden" id="end-Time" name="end-Time">       
                        <ul class="error" *ngIf="errors['end-time']!=''" >
                                <li *ngFor="let org_err of errors['end_time']">{{org_err}}</li>    
                            </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Website<span class="indicates">*</span></label>
                        <input type="url" [(ngModel)]="showEventArr.website" name="website" id="website" value="" class="form-control textfield" > 
                        <ul class="error" *ngIf="errors['website']!=''" >
                                <li *ngFor="let org_err of errors['website']">{{org_err}}</li>    
                            </ul>  
                    </div>

                </div>

                <div class="event-edit-form large-6 small-12 columns">
                    <!-- <div class="form_row clearfix">
                        <label>Country<span class="indicates">*</span></label>                        
                      
                         <ng-select name="countryList" (data)="countryArr"                                                      
                            [items]="countryArr"
                            (selected)="getState($event)"
                            [active]="defaultCountry"
                            placeholder="No country selected">
                        </ng-select>
                        <input type="hidden" id="country" name="country" [(ngModel)]="country">    
                        <ul class="error" *ngIf="errors['country']!=''" >
                                <li *ngFor="let org_err of errors['country']">{{org_err}}</li>    
                            </ul> 
                    </div>
                    <div class="form_row clearfix">
                        <label>State<span class="indicates">*</span></label>                        
                       
                        <ng-select name="stateList" (data)="stateList"                                                      
                            [items]="stateList"
                            [active]="defaultState"
                            (selected)="getCIty($event)"
                            placeholder="No state selected">
                        </ng-select>
                        <input type="hidden" id="state" name="state" [(ngModel)]="state"> 
                         <ul class="error" *ngIf="errors['state']!=''" >
                                <li *ngFor="let org_err of errors['state']">{{org_err}}</li>    
                            </ul> 
                    </div>
                    <div class="form_row clearfix">
                        <label>City<span class="indicates">*</span></label>                        
                       
                        <ng-select name="cityList" (data)="cityList"                                                      
                            [items]="cityList"
                            [active]="defaultCity"
                            (selected)="optionSelected($event,'city')"
                            placeholder="No city selected">
                        </ng-select>
                        <input type="hidden" id="city" name="city" [(ngModel)]="city"> 
                        <ul class="error" *ngIf="errors['city']!=''" >
                                <li *ngFor="let org_err of errors['city']">{{org_err}}</li>    
                            </ul> 
                    </div> -->
                    <div class="form_row clearfix">
                        <label>Organization<span class="indicates">*</span></label>
                        
                         <ng-select name="organizationList" (data)="organizationList"                                                       
                            [items]="organizationList"
                            [active]="defaultOrg"
                            (selected)="optionSelected($event,'organization')"
                            placeholder="No organization selected">
                        </ng-select>
                        <input type="hidden" id="organization" name="organizers" [(ngModel)]="organizers">  
                         <ul class="error" *ngIf="errors['organizers']!=''" >
                                <li *ngFor="let org_err of errors['organizers']">{{org_err}}</li>    
                            </ul>                   
                    </div>
                    <div class="form_row clearfix">
                        <label>Location<span class="indicates">*</span></label>
                        <div style="width: 350px; float: left;">
                        <ng-select name="locationList" (data)="location"                                                       
                            [items]="venueList"
                            (selected)="optionSelected($event,'location')"
                            [active]="defaultVenue"
                            placeholder="No location selected">
                        </ng-select>
                        </div><a class="btn btn-success  btn-sm btn-square active pull-right add_button" style="line-height: 1.6;"><span class="glyphicon glyphicon-plus" area-hidden="true"></span> </a>
                        <input type="hidden" id="location" name="location" [(ngModel)]="location">       
                        <ul class="error" *ngIf="errors['venue_name']!=''" >
                                <li *ngFor="let org_err of errors['venue_name']">{{org_err}}</li>    
                            </ul>                 
                    </div>
                    <div class="form_row clearfix">
                        <label>Intended Audience:</label>
                        <div class="">                                            
                            <ng-select (data)="optionSelected($event,'audience')"
                            [multiple]="true"
                            [active]="showEventArr.audience"                            
                            [items]="audienceList">                            
                            </ng-select>
                           <input type="hidden" id="audience" name="audience" [(ngModel)]="audience">
                        </div>
                    </div>    
                    <div class="form_row clearfix">
                        <label>Contact Info<span class="indicates">*</span></label>
                        <input type="tel" [(ngModel)]="showEventArr.contact_info"  name="contact_info" value="" class="form-control textfield">
                        <ul class="error" *ngIf="errors['contact_info']!=''" >
                                <li *ngFor="let org_err of errors['contact_info']">{{org_err}}</li>    
                            </ul>                           
                    </div>
                    <div class="form_row clearfix">
                        <label>Event Purpose</label>
                        <input type="text" [(ngModel)]="showEventArr.purpose" id="purpose" name="purpose" value="" class="form-control textfield">
                    </div>
                    <div class="form_row clearfix">
                        <label>Event Keywords</label>
                        <div class="">
                                         
                            <ng-select (data)="optionSelected($event,'keyword')"
                            [multiple]="true"
                            [active]="showEventArr.category_id"                            
                            [items]="keywordList">                            
                            </ng-select>
                           <input type="hidden" id="keyword" name="keyword" [(ngModel)]="keyword">
                        </div>
                    </div>
                    <!--<div class="form_row clearfix">
                        <label>Upload Images</label>
                        <input type="file" name="event-images" id="event-images" value="" class="form-control textfield"> 
                        <input id="event-images" name="event-images[]" type="file" class="file" data-preview-file-type="text" multiple>
                    </div>-->
                </div>
                <div class="col-sm-12">
                    <div class="form_row clearfix">
                        <label>Event Description<span class="indicates">*</span></label>
                        <ckeditor name="event_description" [(ngModel)]="showEventArr.event_description" debounce="400"></ckeditor>
                        <ul class="error" *ngIf="errors['event_description']!=''" >
                            <li *ngFor="let org_err of errors['event_description']">{{org_err}}</li>    
                        </ul>
                    </div>
                     <div class="form_row clearfix">
                        <label>Upload Images</label>                        
                        <input id="eventImages" (ngModelChange)="uploadImages($event)" name="images" [(ngModel)]="eventImages" type="file" multiple>
                         <input type="hidden" id="attach_ids" name="image_id"> 
                         <input type="hidden" id="pre_ids"> 
                    </div>
                    <div class="form_row ">                         
                        <button class="btn btn-info" type="submit" value="Save" name="submit">Save</button>                  
                        <button class="btn btn-info"  [routerLink]="['/my-events']" >Cancel</button>
                    </div>                    
                </div>
            </form>
        </div>
        <!-- #content --> 

        <!--single post type sidebar -->
        <div id="sidebar-primary" class="sidebar large-3 small-12 columns">
            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">     
                    <div class="textwidget text-center">    
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>    
                    </div>
                </div>
            </div>
            
            <!-- 300x150 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">     
                    <div class="textwidget text-center">    
                        <a href="">
                            <img src="app/assets/images/ads images/300x150.jpg">
                        </a>    
                    </div>
                </div>
            </div>
        </div>
        <!--end single post type sidebar --> 
        <!-- end  content part-->
    </div>
    <!-- .wrap -->
</section>

<!-- <app-footer></app-footer> -->

