.errfield{
	color: 	#FF0000;
}
.yellow {
    color: #ffce12;
}
#location-add label{
	font-weight: normal;
}
.home .modal{
	height: 1500px;   
    position: absolute;
}
.home .modal-header{
margin-bottom: 20px;
}
.sebm-google-map-container {
	height: 300px;
}
.preview_images{
	 float: left;
    height: 80px;
    padding: 5px;
    width: 80px;
}
.typeahead-input,
        .typeahead-typeahead{
            /*width: 250px;*/
            padding: 8px;
            border-radius: 5px;
        }