.errfield{
	color: 	#FF0000;
}
.yellow {
    color: #ffce12;
}
#location-add label{
	font-weight: normal;
}
.modal{
	position: sticky;
}
.modal-header{
margin-bottom: 20px;
}
.sebm-google-map-container {
	height: 300px;
}

