 .icon_img{
  height: 30px !important;
  width: 30px !important;
 }

 .widget-twocolumn ul > li > a, .widget-twocolumn ul > li > span {
    float: left;
    margin: 0 0 0 0 !important;
    max-width: 60px;
    position: static;
    width: 20%;
}
.new_icon {
    color: #999;
    font-size: 15px;
    font-weight: normal;
    height: 20px;
    margin-left: 2px;
    text-align: left;
    width: 15px;
}
        