<section id="main" class="clearfix">
    <div class="wrap row">
        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="wamasoftware" rel="home" class="trail-begin">Home</a>
                </span> 
                <span class="sep">»</span> 
                <span class="trail-end">Reset Password</span>
            </div>
        </div>

        <!-- start content part-->
        <div id="content" role="main" class="large-9 small-12 columns" jstcache="0">
            <h1 class="page-title entry-title">Reset Password</h1>

            <form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
                <div class="event-edit-form large-9 small-12 columns">
                    <div class="form_row clearfix">
                        <label>New Password<span class="indicates">*</span></label>
                        <input type="password" name="password" class="form-control textfield" ngModel>
                        <ul class="error" *ngIf="errors['password']!=''" >
                            <li *ngFor="let org_err of errors['password']">{{org_err}}</li>    
                        </ul>  
                    </div>
                    <div class="form_row clearfix">
                        <label>Confirm Password<span class="indicates">*</span></label>
                        <input type="password" name="password_confirmation" class="form-control textfield" ngModel>
                        <ul class="error" *ngIf="errors['password_confirmation']!=''" >
                            <li *ngFor="let org_err of errors['password_confirmation']">{{org_err}}</li>    
                        </ul>  
                    </div>
                    <div class="form_row ">
                        <button class="btn btn-info" type="submit">Send</button>
                    <button class="btn btn-info" type="reset" [routerLink]="['/']" >Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- #content --> 
        
        
        <!-- #sidebar-widgets-template -->
    </div>
    <!-- .wrap -->
</section>