<!-- <app-header></app-header> -->
<section id="main" class="clearfix">
    <div class="wrap row">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a [routerLink]="['/']" title="GeekMeet" rel="home" class="trail-begin">Home</a></span> <span class="sep">»</span> 
                <span>Blog</span>
            </div>
        </div>

        <section id="content" class="large-9 small-12 columns">
            <div class="infinite list hfeed">
                <div class="loop-meta">
                    <h1 class="loop-title">Blog</h1>
                    
                    <!-- 728x90 ad_space -->
                    <div id="templatic_text-1" class="widget templatic_text">
                        <div class="widget-wrap widget-inside">		
                            <div class="textwidget text-center">	
                                <a href="">
                                    <img src="app/assets/images/ads images/728x90.jpg">
                                </a>	
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- .loop-description -->
                </div>
                <!-- .loop-meta -->

                <!-- article start -->
                <div class="post" *ngFor = "let blog of blogArr">
                    <div class="listing_img">
                        <img src="{{blog.thumb}}" alt="image">
                        
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title">
                            <a itemprop="url"  [routerLink]="['/blog_detail',blog.blog_id]"  title="" rel="bookmark">{{blog.blog_title}}</a>
                        </h2>
                        <div class="byline">Published by 
                            <span class="author vcard">
                                <a class="url fn n"  title="Smith">{{blog.username}}</a>
                            </span> On 
                            <abbr class="published" title="{{blog.create_date}}">{{blog.create_date}}</abbr> 
                            <a class="comments-link" href="" title="Comment on Reservation and Booking System + Multilevel Category Selection">Leave a response</a> 
                        </div>			
                        <p class="entry-summary" [innerHTML]="blog.blog_content"></p>G
                        <a *ngIf="blog.read_more==1" [routerLink]="['/blog_detail',blog.blog_id]" >Read More</a> 				  
                        
                        <!-- .entry-summary -->

                        <!-- #post -->
                    </div>		
                </div>
         
            </div>
            
           

                <div class="postpagination_776778595 postpagination clearfix">
                <div class="pagination" *ngFor="let object of createRange(blogTotal)">
                <a  class="page-numbers" href="javascript:void(0)" [ngClass]="{'active': object==currentPage}" (click)="getBlogPagination(object)" > {{object}} </a>
                </div>
                </div>

        </section>


        <aside id="sidebar-post-listing" class="post-listing-sidebar sidebar large-3 small-12 columns">

            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x600.jpg">
                        </a>	
                    </div>
                </div>
            </div>

            <div id="social_media-3" class="widget social_media">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title">Connect With Us</h3>
                    <div class="social_media">
                        <ul class="social_media_list">
                            <li> <a href="http://facebook.com/" target="_blank">
                                    <i class="fa fa-facebook"></i>Find us on Facebook </a> </li>
                            <li> <a href="http://twitter.com/" target="_blank">
                                    <i class="fa fa-twitter"></i>Follow us on Twitter </a> </li>
                            <li> <a href="http://www.youtube.com/" target="_blank">
                                    <i class="fa fa-youtube"></i>Find us on Youtube </a> </li>
                            <li> <a href="http://www.linkedin.com/" target="_blank">
                                    <i class="fa fa-linkedin"></i>Connect with us on LinkedIn </a> </li>
                            <li> <a href="http://www.googleplus.com/" target="_blank">
                                    <i class="fa fa-google-plus"></i>Find us on Google+ </a> </li>
                            <li> <a href="http://www.pintrest.com/" target="_blank">
                                    <i class="fa fa-pinterest"></i>Find us on Pinterest </a> </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 300x250 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                        <a href="">
                            <img src="app/assets/images/ads images/300x250.jpg">
                        </a>	
                    </div>
                </div>
            </div>

        </aside>
    </div>
</section>
<!-- <app-footer></app-footer> -->