<!-- <app-header></app-header> -->
<section id="main" class="clearfix" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="wrap row">

        <div class="breadcrumb breadcrumbs columns">
            <div class="breadcrumb-trail">
                <span class="trail-begin">
                    <a itemprop="name" [routerLink]="['/']" title="GeekMeet" rel="home" class="trail-begin">Home</a></span> <span class="sep">»</span> 
                <span>Blog</span>
                <span class="sep">»</span> 
                <span *ngIf="category!=''">{{category}}</span>
                <span *ngIf="category==''">All</span>
            </div>
        </div>

        <section id="content" class="large-9 small-12 columns">
            <div class="infinite list hfeed">
                <div class="loop-meta">
                    <h1 itemprop="title" class="loop-title">Blog</h1>
                    
                    <!-- 728x90 ad_space -->
                    <div id="templatic_text-1" class="widget templatic_text">
                        <div class="widget-wrap widget-inside">		
                            <div class="textwidget text-center">	
                                <iframe scrolling="no" width="100%" height="100" src="http://2016.geekmeet.com/banner.php?title=blog-728x90"></iframe> 
                            </div>
                        </div>
                    </div>
                    
                    
                    <!-- .loop-description -->
                </div>
                <!-- .loop-meta -->

                <!-- article start -->
                <div class="post" *ngFor = "let blog of blogArr  | paginate: { id: 'server',  itemsPerPage: per_page, currentPage: currentPage, totalItems: Total}">
                    <div class="listing_img" itemprop="image" *ngIf = "blog.title!=isNoImage">
                        <img src="{{blog.thumb}}" itemprop="image" alt="{{blog.blog_title}}" style="height: 170px;">
                    </div>
                    <div class="listing_img"  *ngIf = "blog.title==isNoImage">
                        <img src="{{blog.thumb}}" alt="image" style="height: 170px;">
                    </div>
                    <div class="entry-header">
                        <h2 class="entry-title" itemprop="about">
                            <a itemprop="name" (click)="goToBlogDetail(blog.blog_id,blog.blog_title)"   title="">{{blog.blog_title}}</a>
                        </h2>
                        <div class="byline"> 
                            <!--<span class="author vcard">Author
                                <a class="url fn n"  >{{blog.author}}</a><abbr class="published">{{blog.create_date}}</abbr> 
                            </span>-->
                            Published by 
                            <span class="author vcard" itemprop="author" itemscope itemtype="http://schema.org/Person">
                                <a itemprop="name" class="url fn n"  >{{blog.author}}</a>
                            </span> On 
                            <span class="author vcard" itemprop="dateCreated" content="2016-10-31">
                                <a itemprop="name" class="url fn n"  >{{blog.create_date}}</a>
                            </span>
                            
                          
                        </div>			
                        <p class="entry-summary" [innerHTML]="blog.blog_content"></p>
                        <a itemprop="name" *ngIf="blog.read_more==1" (click)="goToBlogDetail(blog.blog_id,blog.blog_title)" >Read More</a> 				  
                        
                        <!-- .entry-summary -->

                        <!-- #post -->
                    </div>		
                </div>
                 <div class="widget-wrap widget-inside" *ngIf="empty_data">
                <h4 style="text-align: center;">No Result Found</h4>
                </div>
         
            </div><br>
            
           

                <!-- <div class="postpagination_776778595 postpagination clearfix">
                <div class="pagination" *ngFor="let object of createRange(blogTotal)">
                <a  class="page-numbers" href="javascript:void(0)" [ngClass]="{'active': object==currentPage}" (click)="getBlogPagination(object)" > {{object}} </a>
                </div>
                </div> -->
                <div class="has-text-centered" style="text-align: center;">
                            <pagination-controls  (pageChange)="getBlogPagination($event)" id="server"></pagination-controls>
                        </div>

        </section>


        <aside id="sidebar-post-listing" class="post-listing-sidebar sidebar large-3 small-12 columns">

            <!-- 300x600 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                     
                            <iframe scrolling="no" width="100%" height="600" src="http://2016.geekmeet.com/banner.php?title=blog-300x600"></iframe> 
                      
                    </div>
                </div>
            </div>



            <div id="social_media-3" class="widget social_media">
                <div class="widget-wrap widget-inside">
                    <h3 class="widget-title">Connect With Us</h3>
                    <div class="social_media">
                        <ul class="social_media_list">
                            <li> <a href="https://www.facebook.com/GeekMeet/" target="_blank">
                                    <i class="fa fa-facebook"></i>Find us on Facebook </a> </li>
                            <li> <a href="https://twitter.com/geekmeet" target="_blank">
                                    <i class="fa fa-twitter"></i>Follow us on Twitter </a> </li>
                          
                            <li> <a href="https://www.linkedin.com/company/geekmeet" target="_blank">
                                    <i class="fa fa-linkedin"></i>Connect with us on LinkedIn </a> </li>
                            <li> <a href="https://plus.google.com/+Geekmeet" target="_blank">
                                    <i class="fa fa-google-plus"></i>Find us on Google+ </a> </li>
                           
                        </ul>
                    </div>
                </div>
            </div>

            <!-- 300x250 ad_space -->
            <div id="templatic_text-1" class="widget templatic_text">
                <div class="widget-wrap widget-inside">		
                    <div class="textwidget text-center">	
                     <iframe scrolling="no" width="100%" height="300" src="http://2016.geekmeet.com/banner.php?title=blog-300x250"></iframe> 
                        
                    </div>
                </div>
            </div>

        </aside>
    </div>
</section>
<!-- <app-footer></app-footer> -->