.sebm-google-map-container {
	height: 300px;
}
.glyphicon.glyphicon-menu-hamburger{
	display: none;
}
.yellow {
	color: #ffce12;
}
.kv-file-content{
	height: 160px;
	width: 200px;
}
.venue_uploader .file-upload-indicator{
	display: none !important;
}