<section id="main" class="clearfix">
    <div class="wrap row">
       
        <!-- #content -->
        <aside id="sidebar-front_page" class="front-page-sidebar sidebar large-12 small-12 columns">

           <header _ngcontent-obu-8="" class="page-header extra-search-criteria-title"><h3 _ngcontent-obu-8="">Search Result</h3></header>
            <div id="templatic_popular_post_technews-3" class="widget widget-twocolumn popular_posts">
                <div class="widget-wrap widget-inside" *ngIf="!empty">
                   
                    <ul class="listingview clearfix list" id="list_168817222">
                        <li class="clearfix"   *ngFor = "let events of event">
                            <a (click)="goToEventDetail(events.event_id,events.event_title)" title="{{events.event_title}}" class="link_img" data-rel="">
                              <img src="app/assets/images/event.png" class="icon_img"></a>
                             <div class="post_data">
                                <div class="row">
                                <div class="col-md-8">
                                <h3 style="margin-bottom:5px !important;">
                                    <a (click)="goToEventDetail(events.event_id,events.event_title)"  title="{{events.event_title}}">{{events.event_title}}</a>
                               </h3>
                                </div>
                                <div class="col-md-4">
                                  <div class="pull-right" *ngIf="events.owner">
                            <label class="org_btn"><a class="btn btn-xs primary" href="" [routerLink] = "['/event-edit',events.event_id]">Edit Event</a></label>
                               </div>    

                                </div></div>
                                <div class="col-md-12">
                                <p><i class="fa fa-building-o new_icon"></i> 
                                                        {{events.city_name}},                      {{events.state_name}},  
                                                         {{events.country_name}}                
                                                         </p>
                                </div>   
                                  <div class="col-md-12">
                                <p class="event_date">

                                                            <span>
                                                                <span itemprop="startDate" content="2014-07-08T15:30"> {{events.start_date}}</span>
                                                                To <span itemprop="endDate" content="2019-07-08T17:30"> {{events.end_date}}</span>
                                                            </span>
                                                        </p>  </div>                       
                            </div>
                            
                               
                         
                        </li>
                        <li class="clearfix"  *ngFor = "let blogs of blog">
                            <a  (click)="goToBlogDetail(blogs.blog_id,blogs.blog_title)"  title="{{blogs.blog_title}}" class="link_img" data-rel="">
                              <img src="app/assets/images/blog.png" class="icon_img">
                            </a>
                            <div class="post_data">
                                <div class="row">
                                <div class="col-md-12">
                                <h3>
                                    <a (click)="goToBlogDetail(blogs.blog_id,blogs.blog_title)"  title="{{blogs.blog_title}}">{{blogs.blog_title}}</a>
                                </h3>
                                </div>
                                <div class="col-md-12">
                                  <div class="byline">Published by 
                            <span class="author vcard">
                                <a class="url fn n"  title="Smith">{{blogs.username}}</a>
                            </span> On 
                            <abbr class="published" title="{{blog.create_date}}">{{blogs.create_date}}</abbr> 
                        </div>  
                                </div>
                               </div>
                            </div>
                        </li>

                           <li class="clearfix"  *ngFor = "let organizations of organization">
                            <a href="" [routerLink] = "['/organization',organizations.organization_id]" title="{{organizations.organization_name}}" class="link_img" data-rel="">
                                  <img src="app/assets/images/organization.png" class="icon_img">
                            </a>
                            <div class="post_data">
                                <div class="row">
                                <div class="col-md-8">
                                <h3>
                                    <a href="" [routerLink] = "['/organization',organizations.organization_id]" title="{{organizations.organization_name}}">{{organizations.organization_name}}</a>
                                </h3>
                                </div>
                                 <div class="col-md-4">
                                   <div class="pull-right ">
                            <label class="org_btn"><a class="btn btn-xs primary" href="" [routerLink] = "['/organization-edit',organizations.organization_id]">Edit Organization</a></label>
                            </div>   

                                 </div>
                                </div>

                                <div class="col-md-12" *ngIf="organizations.organization_email!=''">
                                <i class="fa fa-envelope-o new_icon"></i>&nbsp;   
                                {{organizations.organization_email}}
                               </div>
                               <div class="col-md-12" *ngIf="organizations.organization_contact!=''">
                                <i class="fa fa-phone new_icon"></i>&nbsp;  
                                {{organizations.organization_contact}}
                                </div>
                                <div class="col-md-12" *ngIf="organizations.organization_website!=''">
                                <i class="fa fa-globe new_icon"></i>&nbsp; 
                                {{organizations.organization_website}}
                                </div>
                                
                            </div>
                           	
                        </li>

                             <li class="clearfix"  *ngFor = "let venues of venue">
                            <a  href="" [routerLink] = "['/venue',venues.venue_id]" title="{{venues.venue_name}}" class="link_img" data-rel="">
                                <img src="app/assets/images/map.png" class="icon_img">
                            </a>
                            <div class="post_data">
                                <div class="row">
                                <div class="col-md-8">
    
                                <h3>
                                    <a href="" [routerLink] = "['/venue',venues.venue_id]" title="{{venues.venue_name}}">{{venues.venue_name}}</a>
                                </h3>
                                </div>
                                  <div class="col-md-4">
                                   <div class="pull-right ">
                            <label class="org_btn"><a class="btn btn-xs primary" href="" [routerLink] = "['/venues-edit',venues.venue_id]">Edit Venue</a></label>
                            </div>    

                                  </div>

                                </div>
                                 <div class="col-md-12">
                                <p><i class="fa fa-building-o new_icon"></i> 
                                                        {{venues.city}},                      {{venues.state}},  
                                                         {{venues.country}}                
                                                         </p>
                                </div> 
                                
                            </div>
                            
                
                        </li>
                     
                     
                        
                      
                    </ul>
                     
                </div>
                <div class="widget-wrap widget-inside" *ngIf="empty">
                <h4 style="text-align: center;">No Result Found for "{{text}}"</h4>
                </div>
            </div>



        </aside>
    </div>
    <!-- .wrap -->
</section>